---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'	
import FeaturedArticle from '../components/FeaturedArticle.astro'		
const title = 'Fem Blog with CMS'		
---

<PrimaryLayout>
	<div class="three-columns">
		<FeaturedArticle />	
		<div class="inverted">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, fugit quod aspernatur provident reiciendis nostrum quisquam quam natus explicabo nemo cum repudiandae enim a excepturi ad quae. Placeat, explicabo asperiores!</p>	
		</div>
	</div>
	<!-- Header -->
	<!-- three-column layout -->
	<div class="three-column-layout">
		<div class="Featured Article">
			
		</div>
		<div class="New Articles">
			
		</div>
	<!-- three-column layout -->
		<div class="Popular Articles">
			
	</div>
</PrimaryLayout>
