---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'	
import FeaturedArticle from '../components/FeaturedArticle.astro'		
	
---

<PrimaryLayout>
	<div class="three-columns">
		<FeaturedArticle class="span-2"/>	
		<div class="inverted">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, fugit quod aspernatur provident reiciendis nostrum quisquam quam natus explicabo nemo cum repudiandae enim a excepturi ad quae. Placeat, explicabo asperiores!</p>	
		</div>
	</div>
	<!-- Header -->
	<!-- three-column layout -->
	<!-- three-column layout -->
</PrimaryLayout>
