---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'	
import FeaturedArticle from '../components/FeaturedArticle.astro'	
import PopularArticles from '../components/PopularArticles.astro'	

---

<PrimaryLayout>
	<div class="three-columns section">
		<FeaturedArticle class="span-2"/>	
		<div class="inverted flow">
		<h2 class="accent-color">New</h2>
		<ul role="list" class="separated-list">
			<li>
				<article class="flow">
					<h3><a href="https://www.temporary-url.com/3A02D1">Candle Features</a></h3>
					<p>Description </p>
				</article>
			</li>
			<li>
				<article class="flow">
					<h3><a href="https://www.temporary-url.com/3A02D1">Candle Features</a></h3>
					<p>Description</p>
				</article>
			</li>
			<li>
				<article class="flow">
					<h3><a href="https://www.temporary-url.com/3A02D1">Candle Features</a></h3>
					<p>Description</p>
				</article>
			</li>
</div>
</div>		

		 <PopularArticles class="three-columns section"/>

</PrimaryLayout>


