<article>
    <img src="/images/image-web-3-desktop.jpg" alt="Featured Article" />
    <h3>Featured Article</h3>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel est consectetur, tristique nisl sed, accumsan purus.</p>
        <a href="#" class="button">Read More</a>
    </div>
</article>