---
const { class: className } = Astro.props;

---
<h2 class="visually-hidden">Popular Articles</h2>
<ul role="list" class:list={className}>
    <li>
        <article>
            <img src="/images/ina/thumbnail_IMG_0593.jpg" alt="#">
            <div class="flow">
                <h3><a href="https://www.temporary-url.com/3A02D1">Other Product</a></h3>
                <p>Description</p>
            </div>
        </article>
    </li>
    <li>
        <article>
            <img src="/images/ina/thumbnail_IMG_0592.jpg" alt="#">
            <div class="flow">
             <h3><a href="https://www.temporary-url.com/3A02D1">Other Product</a></h3>
                <p>Description</p>
            </div>
        </article>

    </li>
    <li>
        <article>
            <img src="/images/ina/thumbnail_IMG_0590.jpg" alt="#">
            <div class="flow">
             <h3><a href="https://www.temporary-url.com/3A02D1">Other Product</a></h3>
                <p>Description</p>
            </div>
        </article>
    </li>
</ul>

<style>
    article {
        display: grid;
        gap: 1rem;
        grid-template-columns: 100px auto;

        > div {
            display: grid;
            gap: .1rem;

        &::before {
        content: counter(article-count, decimal-leading-zero);
        display:block;
        font-weight: var(--fw-extrabold);
        font-size: var(--fs-700);
        color: var(--clr-accent-400);

    }

        }
    }

    ul {
        counter-reset: article-count;
    }

    li {
        counter-increment: article-count;
    }


</style>